*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color:antiquewhite;
}

.ScrollableContainer{
    border: 2px solid black;
    height: 500px;
    width:fit-content;
    overflow-y:scroll;
    background-color:orangered;
}

.Card {
    padding: 5px;
    height: 100px;
    width: 400px;
    background-color: yellow;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
